<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{ page.title | default: site.title }}</h1>
        {% if page.description %}
        <h2>{{ page.description }}</h2>
        {% endif %}
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        <a href="/">Home</a> | <a href="/contact">Contact Emily</a>
      </footer>
    </div>
  </body>
</html>
